// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import './theming/custom-theme';
// Plus imports for other components in your app.

// Custom typography
$app-typography: mat-typography-config(
  $font-family: 'Montserrat, sans-serif',
  $title: mat-typography-level(1rem, 36px, 700)
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($app-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat-palette($mat-teal, A200);
$client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$client-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$client-theme: mat-light-theme($client-primary, $client-accent, $client-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($client-theme);

// Include theme styles for your custom components.
@include custom-toolbar-theme($client-theme);
@include custom-button-theme($client-theme);
@include custom-form-field-theme($client-theme);
@include custom-snack-bar-theme($client-theme);
/* You can add global styles to this file, and also import other style files */


html {
  font-size: 24px;
}

html * {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 14px;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

figure {
  margin: 0;
  display: flex;

  img {
    width: 100%;
  }
}
