<div class="wrapper">
  <figure>
    <!--    <img src="assets/logo.svg" alt="">-->
  </figure>
  <h1 class="mat-display-3">Create Account</h1>
  <form [formGroup]="registerForm">
    <mat-form-field appearance="outline">
      <mat-label>📧 Email</mat-label>
      <input type="email" matInput placeholder="Your email" formControlName="email">
      <mat-error *ngIf="registerForm.hasError('required', ['email'])">{{isRequiredErrorMessage('email')}}</mat-error>
      <mat-error *ngIf="registerForm.hasError('email', ['email'])">Invalid email</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>🔑 Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error
        *ngIf="registerForm.hasError('required', ['password'])">{{isRequiredErrorMessage('password')}}</mat-error>
      <mat-error *ngIf="registerForm.hasError('minlength', ['password'])">Password should be at least 8 symbols
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>🔑 Password Confirm</mat-label>
      <input type="password" matInput formControlName="passwordConfirm">
      <mat-error
        *ngIf="registerForm.hasError('required', ['passwordConfirm'])">{{isRequiredErrorMessage('Confirm password')}}</mat-error>
    </mat-form-field>
    <div class="button-group">
      <button mat-raised-button color="primary" type="button" (click)="onSubmit()">
        <span>SIGNUP WITH EMAIL</span>
      </button>
      <button mat-raised-button type="button" (click)="onSubmitGoogle()">
        <img src="assets/icons/google.svg" alt="Google icon">SIGNUP WITH GOOGLE
      </button>
    </div>
  </form>
  <a class="signup" routerLink="/auth/login">Login</a>
</div>
